
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
   
    background-color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}


.header {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    gap: 10px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    padding: 10px;
    z-index: 1000;
}

.item {
   
    color: #EFB810;
    text-shadow:2px 2px #251c04;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    
}

.item:hover {
    background-color: #EFB810;
    color: black;
    text-shadow: none;
    cursor: pointer;
}


.section {
    height: 600px;
    padding: 20px;
}

.texto {
    color: black;
}

.contenedor-video-inicio {
    background-color: black;
    margin-top: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
}



.divisor {
    text-align: center;
    padding: 20px;
    background-color: #EFB810;
}

.texto {
    margin-bottom: 20px;
}

.texto-grande h2 {
    margin: 5%;
    color: rgb(0, 0, 0);
    text-align: center;
    text-shadow: 1px 4px #a37f11;
}

.texto-chico p {
    margin: 0 auto;
    max-width: 600px;
    line-height: 1.6;
    text-align: justify;
}

.contenedor-video {
    margin-top: 20px;
}

video {
    max-width: 100%;
    height: auto;
}





/* ---------------------*/

.divisor2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 20px;
    background-color: black; /* Puedes ajustar el color de fondo según sea necesario */
}

.texto2 {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
}

.texto-grande2 h2 {
    text-shadow: 1px 4px #534315; /* Puedes ajustar el color del texto y el sombreado según sea necesario */
    color: #EFB810;
}

.texto-chico2 p {
    margin: 0 auto;
    max-width: 600px;
    line-height: 1.6;
    color: grey;
}

.contenedor-video2 {
    margin-top: 20px;
    text-align: center;
}

iframe {
    max-width: 100%;
    height: auto;
}


.divisor2  , .divisorDaga { /*Nuestras remeras*/
    display: flex;
    justify-content: flex-end; /* Alinea el contenido a la derecha */
     /* Ajusta según necesites */
    padding:20px;
    background-color: #333;
    
}

.contenedor-imagen {
    width: 300px; /* Ancho deseado para el contenedor de la imagen */
    height: 300px;
    margin-right: 20px; /* Espacio entre la imagen y el texto */
    border: solid red 2px;
}

.texto2 {
    flex: 1;
    width: 50%; /* Ajusta el ancho del contenedor de texto */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0px; /* Distancia entre texto grande y chico*/
    
    
}

.texto-grande2 {
    text-align: right; /* Justifica el texto grande */
    line-height: 1.6; /* Espaciado entre líneas */
    margin-bottom: 0px; /* Espacio inferior para separación del texto chico */
    text-shadow:  -1px 4px #5e5d5d;
}

.texto-grande2 h2 {
    font-size: 24px;
    font-weight: bold;
    color: white;
    margin: 0; /* Elimina cualquier margen */
}

.texto-chico2 {
    
    text-align: justify; /* Justifica el texto chico */
     /* Espaciado entre líneas */
}

.texto-chico2 p {
    margin-top: 20px; /* Elimina cualquier margen */
    font-size: 16px;
    color: white
}


.divisor3 {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente */
    margin: 40px auto; /* Margen superior e inferior de 20px y centrado horizontalmente */
    padding: 20px; /* Espaciado interno para separar el contenido del borde */
    max-width: 600px; /* Ancho máximo del divisor */
    border: solid black 2px;
    background-color: #EFB810;
    text-align: center; /* Alinea el texto al centro */
    
}

.texto-grande3,
.texto-chico3 {
    width: 70%; /* Ocupa el 50% del ancho del divisor */
    padding: 10px; /* Espaciado interno */
}

.texto-grande3 h2 {
    font-size: 24px; /* Tamaño de fuente del título */
    color: black; /* Color de texto */
    text-shadow:  1px 2px #5e5d5d;
}

.texto-chico3 p {
    font-size: 16px; /* Tamaño de fuente del párrafo */
    margin: 10px;
    color: #666; /* Color de texto */
}




.boton-container {
    text-align: center;
    margin-top: 20px;
}

#mostrarFormulario {
    background-color: black;
    color: gold;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

#btnAcepto, #btnAdivinar {
    background-color: black;
    color: gold;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
#btnAcepto:hover, #btnAdivinar:hover {
    opacity: 0.8;
}


#desafio {
    width: 100%;
    height: 600px; /* Ajusta la altura según tus necesidades */
    margin-top: 20px;
}
#desafio iframe {
    width: 100%;
    height: 100%;
    border: none;
}